/* IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

/* ESTILOS GERAIS */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fonte-personalizada {
  font-family: 'Bangers', cursive;
}

/* CORES */
.cor-1 {
  background: #303030;
}

a {
  color: #375a7f;
}

a:hover {
  color: #375a7f;
}

i#footer {
  color: #ff0000;
}

/* ICONE SOBRE A IMAGEM DA MUSICA 'A TOCAR' */
.overlay {
  position: relative;
}

.overlay i {
  position: absolute;
  top: 47%;
  left: 44%;
  transform: translate(-45%, -45%);
  display: none;
}

.overlay:hover img {
  opacity: 0.5;
}

.overlay:hover i {
  display: block;
  z-index: 500;
}

/* NAVBAR */
.logotipo {
  width: 350px;
}

.navbar-brand {
  padding: 0;
}

.texto-brand {
  font-size: 1.5rem !important;
  font-family: 'Bangers';
}
