/* IMPORTAÇÃO DE FONTES */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url('../fonts/bangers-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/bangers-v12-latin-regular.woff') format('woff');
}

/* ESTILOS GLOBAIS */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fonte-personalizada {
  font-family: 'Bangers', cursive;
}

/* CORES */
.cor-1 {
  background: #303030;
}

a {
  color: #375a7f;
}

a:hover {
  color: #375a7f;
}

i#footer {
  color: #ff0000;
}

.icone-social {
  color: #fff;
}

/* ICONE SOBRE A IMAGEM DA MUSICA 'A TOCAR' */
.overlay {
  position: relative;
}

.overlay i {
  position: absolute;
  top: 47%;
  left: 44%;
  transform: translate(-45%, -45%);
  display: none;
}

.overlay:hover img {
  opacity: 0.5;
}

.overlay:hover i {
  display: block;
  z-index: 500;
}

.icon-reprodutor {
  cursor: pointer;
}

/* NAVBAR */
.logotipo {
  width: 350px;
}

.navbar-brand {
  padding: 0;
}

.texto-brand {
  font-size: 1.5rem !important;
  font-family: 'Bangers';
}
